    <div class="row">
    <h5 class="center-align">Apresentação</h5>
    </div>
    <div class="row">
    <div class="col s12 l6">
     <div class="slider">
        <ul class="slides">
          <li>
            <%= image_tag("ia.png") %>
            <div class="caption center-align">
            </div>
          </li>
          <li>
            <%= image_tag("cg.png") %>
            <div class="caption left-align">
              <h5 class="light white-text text-lighten-3" id="text">Computação Gráfica</h5>
            </div>
          </li>
          <li>
            <%= image_tag("uenf.png") %>
            <div class="caption right-align" id="text">
              <h3>UENF</h3>
              <h5 class="light white-text text-lighten-3" id="text">Melhor Universidade do estado do Rio de Janeiro</h5>
            </div>
          </li>
          <li>
            <%= image_tag("sd.png") %>
            <div class="caption left-align">
              <h5 class="light white-text text-lighten-3" id="text">Desenvolvimento de Software</h5>
            </div>
          </li>
           <li>
            <%= image_tag("algo.png") %> 
            <div class="caption right-align">
        
              <h5 class="light white-text text-lighten-3" id="text">Algoritmos</h5>
            </div>
          </li>
        </ul>
      </div>
      </div>
    
    
    <div class="col s12 l6">
              
            
            <p class="flow-text" id="txtpresentation">&emsp;Os cursos de Computação, em qualquer instituição, são definidos dependendo das necessidades da região e do país. Sendo assim, as diferenças entre cursos de computação de uma instituição para outra, variam dependendo do perfil que elas adotaram como padrão.</p>

            <p class="flow-text" id="txtpresentation">&emsp; O Curso de Ciência da Computação do Laboratório de Matemática (LCMAT), no Centro de Ciência e Tecnologia (CCT) da UENF, tem como objetivo formar professionais conforme as recomendações do MEC apoiado em conhecimentos sólidos e atualizados da Computação e Informática, esteja capacitado para abordar e tratar problemas novos e tradicionais do ensino dessa disciplina e esteja sempre preocupado em buscar novas formas do saber e do fazer científico ou tecnológico na área. Em todas as suas atividades a atitude de investigação deve estar sempre presente, mesmo quando associada às diferentes formas e objetivos de trabalho.</p>

            <p class="flow-text" id="txtpresentation">&emsp; 
            Em uma sociedade em rápida transformação, como a que hoje vivemos, surgem continuamente novas funções sociais e novos campos de atuação, colocando em questão os paradigmas profissionais anteriores, com perfis já conhecidos e bem estabelecidos. Propõe-se, assim, uma formação ao mesmo tempo ampla e flexível, que desenvolva habilidades e conhecimentos necessários às expectativas atuais e capacidade de adequação a diferentes perspectivas de atuação futura.</p> 

          
      </div>
      </div>
  
     <div class="divider"></div>