<div class="row">
		<h5 class="title center-align">Grade Curricular</h5>
	</div>
</div>

<div class="row">
<div class="container">
		<ul class="collapsible" data-collapsible="expandable">
			<li>
				<div class="collapsible-header center">1º Período</div>
				<div class="collapsible-body">
					<table class="highlight responsive-table">
						<%= render 'table_header' %>
						<tbody>
							<% @subjects.each do |sub| %>
							<% if sub.semester == 1 %>
							<tr>
								<td><%= sub.code %></td>
								<td><%= sub.name %></td>
								<td><%= sub.credit %></td>
								<td>Informações</td>
							</tr>
							<% end %>
							<% end %>
						</tbody>
					</table>
				</div>
			</li>
			<li>
				<div class="collapsible-header center">2º Período</div>
				<div class="collapsible-body">											 
					<table class="highlight responsive-table">
						<%= render 'table_header' %>
						<tbody>
							<% @subjects.each do |sub| %>
							<% if sub.semester == 2 %>
							<tr>
								<td><%= sub.code %></td>
								<td><%= sub.name %></td>
								<td><%= sub.credit %></td>
								<td>Informações</td>
							</tr>
							<% end %>
							<% end %>
						</tbody>
					</table>
				</div>
			</li>
			<li>
				<div class="collapsible-header center">3º Período</div>
				<div class="collapsible-body">										 
					<table class="highlight responsive-table">
						<%= render 'table_header' %>
						<tbody>
							<% @subjects.each do |sub| %>
							<% if sub.semester == 3 %>
							<tr>
								<td><%= sub.code %></td>
								<td><%= sub.name %></td>
								<td><%= sub.credit %></td>
								<td>Informações</td>
							</tr>
							<% end %>
							<% end %>
						</tbody>
					</table>
				</div>
			</li>
			<li>
				<div class="collapsible-header center">4º Período</div>
				<div class="collapsible-body">					 
					<table class="highlight responsive-table">
						<%= render 'table_header' %>
						<tbody>
							<% @subjects.each do |sub| %>
							<% if sub.semester == 4 %>
							<tr>
								<td><%= sub.code %></td>
								<td><%= sub.name %></td>
								<td><%= sub.credit %></td>
								<td>Informações</td>
							</tr>
							<% end %>
							<% end %>
						</tbody>
					</table>
				</div>
			</li>
			<li>
				<div class="collapsible-header center">5º Período</div>
				<div class="collapsible-body">												 
					<table class="highlight responsive-table">
						<%= render 'table_header' %>
						<tbody>
							<% @subjects.each do |sub| %>
							<% if sub.semester == 5 %>
							<tr>
								<td><%= sub.code %></td>
								<td><%= sub.name %></td>
								<td><%= sub.credit %></td>
								<td>Informações</td>
							</tr>
							<% end %>
							<% end %>
						</tbody>
					</table>
				</div>
			</li>
			<li>
				<div class="collapsible-header center">6º Período</div>
				<div class="collapsible-body">										 
					<table class="highlight responsive-table">
						<%= render 'table_header' %>
						<tbody>
							<% @subjects.each do |sub| %>
							<% if sub.semester == 6 %>
							<tr>
								<td><%= sub.code %></td>
								<td><%= sub.name %></td>
								<td><%= sub.credit %></td>
								<td>Informações</td>
							</tr>
							<% end %>
							<% end %>
						</tbody>
					</table>
				</div>
			</li>
			<li>
				<div class="collapsible-header center">7º Período</div>
				<div class="collapsible-body">
					<table class="highlight responsive-table">
						<%= render 'table_header' %>
						<tbody>
							<% @subjects.each do |sub| %>
							<% if sub.semester == 7 %>
							<tr>
								<td><%= sub.code %></td>
								<td><%= sub.name %></td>
								<td><%= sub.credit %></td>
								<td>Informações</td>
							</tr>
							<% end %>
							<% end %>
						</tbody>
					</table>
				</div>
			</li>
			<li>
				<div class="collapsible-header center">8º Período</div>
				<div class="collapsible-body">												 
					<table class="highlight responsive-table">
						<%= render 'table_header' %>
						<tbody>
							<% @subjects.each do |sub| %>
							<% if sub.semester == 8 %>
							<tr>
								<td><%= sub.code %></td>
								<td><%= sub.name %></td>
								<td><%= sub.credit %></td>
								<td>Informações</td>
							</tr>
							<% end %>
							<% end %>
						</tbody>
					</table>
				</div>
			</li>
			<li>
				<div class="collapsible-header center">9º Período</div>
				<div class="collapsible-body">													 
					<table class="highlight responsive-table">
						<%= render 'table_header' %>
						<tbody>
							<% @subjects.each do |sub| %>
							<% if sub.semester == 9 %>
							<tr>
								<td><%= sub.code %></td>
								<td><%= sub.name %></td>
								<td><%= sub.credit %></td>
								<td>Informações</td>
							</tr>
							<% end %>
							<% end %>
						</tbody>
					</table>
				</div>
			</li>
			<li>
				<div class="collapsible-header center">10º Período</div>
				<div class="collapsible-body">												 
					<table class="highlight responsive-table">
						<%= render 'table_header' %>
						<tbody>
							<% @subjects.each do |sub| %>
							<% if sub.semester == 10 %>
							<tr>
								<td><%= sub.code %></td>
								<td><%= sub.name %></td>
								<td><%= sub.credit %></td>
								<td>Informações</td>
							</tr>
							<% end %>
							<% end %>
						</tbody>
					</table>
				</div>
			</li>
		</ul>
      </div>
	</div> 
		
		<div class = "row">
			<div class = "container center-align">
				<div class="col s12 l6 ">
				
					<div class="card blue-grey darken-1">
        			    <div class="card-content white-text">
              <span class="card-title">Baixe aqui a grade do curso</span>
            	<p>Aqui você encotra a grade do curso e seus pré-requistos</p>
            			</div>
			            <div class="card-action">
			              <%= link_to "Download PDF", 'assets/grade.pdf', target: '_blank', :class => 'waves-effect waves-light btn-large' %>
			              
			            </div>
          			</div>
          			</div>

				<div class = "center-align">
				<div class="col s12 l6 ">
	          		<div class="card blue-grey darken-1">
	            		<div class="card-content white-text">
	              			<span class="card-title">Baixe aqui o PPC do curso
	              			</span>
	              			<p> Aqui você encontra o as diretrizes do Curso de Ciência da Computação da Uenf
	              			</p>
	            		</div>
	            		<div class="card-action">
	              			<a class="waves-effect waves-light btn">This is a link</a>
	              			</a>
	            		</div>
	          		</div>
	      		</div> 
	      	</div>
	     
	 	</div>
	 </div>   